@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800);/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Convert px to rem */

/* main font family */

/* main width of wrapper */

/* sets text color for input fields */

/* Default Styles */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.bodyWrap {
  min-height: 100%;
  position: relative;
}

.theme-iss ::-moz-selection {
  background: rgba(189, 63, 64, 0.6);
}

.theme-iss ::selection {
  background: rgba(189, 63, 64, 0.6);
}

.theme-ar ::-moz-selection {
  background: rgba(255, 206, 0, 0.6);
}

.theme-ar ::selection {
  background: rgba(255, 206, 0, 0.6);
}

.theme-definers ::-moz-selection {
  background: rgba(135, 225, 209, 0.6);
}

.theme-definers ::selection {
  background: rgba(135, 225, 209, 0.6);
}

.wrap {
  width: 1280px;
  margin: auto;
}

.clear {
  clear: both;
}

.fullWidth {
  width: 100%;
  min-width: 1280px;
}

::-webkit-scrollbar {
  display: none;
}

/* Text Align */

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textJust {
  text-align: justify;
}

/* Display */

.hide,
.mobile {
  display: none;
}

.block,
.desktop {
  display: block;
}

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

/* Font Weight */

.bold,
strong {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic,
em {
  font-style: italic;
}

/* Responsive Iframe, Object, Embed */

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex,
header#navigation,
header#navigation #mainNav ul li a,
header#navigation #bottomNav,
header#navigation #bottomNav ul,
section#middleColumn,
section#middleColumn .middleButton,
section#middleColumn #search .top,
section#middleColumn #search .bottom,
section#middleColumn #search .bottom .left,
section#middleColumn #entries,
section#middleColumn #entries .entryGroup .entryGroupTitle,
section#middleColumn #entries .entry .bar,
section#rightColumn,
section#rightColumn #topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexColumn,
header#navigation,
section#middleColumn,
section#rightColumn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

/* Typography */

a {
  text-decoration: none;
}

.view h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 45px;
  line-height: 2.8125rem;
}

.view h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 35px;
  line-height: 2.1875rem;
}

.view h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 25px;
  line-height: 1.5625rem;
}

.view h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 23px;
  line-height: 1.4375rem;
}

.view p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 21px;
  line-height: 1.3125rem;
}

.entry h2 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}

.entry p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
}

.theme-iss .entry.active {
  background: #D3DCE2;
}

.theme-ar .entry.active {
  background: #DEDEDE;
}

.theme-definers .entry.active {
  background: #DEDEDE;
}

.entry.active h2 {
  font-weight: 700;
}

.transition,
section#middleColumn,
section#middleColumn.closed {
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.button,
.btn,
.circle,
section#middleColumn #search .bottom .left {
  cursor: pointer;
}

.btn {
  border-radius: 3px;
  height: 35px;
  min-width: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.theme-iss .btn {
  background: #183957;
}

.theme-ar .btn {
  background: #55565A;
}

.theme-definers .btn {
  background: #55565A;
}

.btn .far,
.btn .fal,
.btn .fas {
  color: #fff;
  line-height: 35px;
  font-size: 16px;
}

.circle {
  width: 36px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  min-height: 36px;
  max-height: 36px;
  border-radius: 36px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.theme-iss .circle {
  background: #fff;
}

.theme-ar .circle {
  background: #fff;
}

.theme-definers .circle {
  background: #fff;
}

.circle .far,
.circle .fal,
.circle .fas {
  position: relative;
  font-size: 30px;
  line-height: 36px;
}

.theme-iss .circle .far,
.theme-iss .circle .fal,
.theme-iss .circle .fas {
  color: #BD3F40;
}

.theme-ar .circle .far,
.theme-ar .circle .fal,
.theme-ar .circle .fas {
  color: #55565A;
}

.theme-definers .circle .far,
.theme-definers .circle .fal,
.theme-definers .circle .fas {
  color: #05223F;
}

.yellow {
  border: 1px solid;
}

.theme-iss .yellow {
  background: #487CA0;
  border-color: #55565A;
}

.theme-ar .yellow {
  background: #55565A;
  border-color: #55565A;
}

.theme-definers .yellow {
  background: #55565A;
  border-color: #55565A;
}

.theme-iss .yellow .far,
.theme-iss .yellow .fal,
.theme-iss .yellow .fas {
  color: #fff;
}

.theme-ar .yellow .far,
.theme-ar .yellow .fal,
.theme-ar .yellow .fas {
  color: #fff;
}

.theme-definers .yellow .far,
.theme-definers .yellow .fal,
.theme-definers .yellow .fas {
  color: #fff;
}

/* Input Styles */

form,
input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
  opacity: 1;
}

input::-moz-placeholder {
  color: #000;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #000;
}

input:placeholder-shown {
  color: #000;
}

header#navigation {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 9999;
}

.theme-iss header#navigation {
  background: #487CA0;
}

.theme-ar header#navigation {
  background: #55565A;
}

.theme-definers header#navigation {
  background: #05223F;
}

header#navigation #logo {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-height: 100px;
  text-align: left;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 0 20px;
}

header#navigation #logo img {
  width: auto;
  max-width: 100%;
  height: 100%;
}

header#navigation #mainNav {
  width: 100%;
  margin-top: 0;
  overflow-y: scroll;
  margin-bottom: auto;
  max-height: calc(100vh - 230px);
}

header#navigation #mainNav ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

header#navigation #mainNav ul li {
  position: relative;
}

header#navigation #mainNav ul li a {
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

header#navigation #mainNav ul li .icon {
  padding-right: 10px;
}

header#navigation #mainNav ul li .icon .fas,
header#navigation #mainNav ul li .icon .far,
header#navigation #mainNav ul li .icon .fal {
  font-size: 6px;
  line-height: 50px;
}

.theme-iss header#navigation #mainNav ul li .icon .fas,
.theme-iss header#navigation #mainNav ul li .icon .far,
.theme-iss header#navigation #mainNav ul li .icon .fal {
  color: #183957;
}

.theme-ar header#navigation #mainNav ul li .icon .fas,
.theme-ar header#navigation #mainNav ul li .icon .far,
.theme-ar header#navigation #mainNav ul li .icon .fal {
  color: #fff;
}

.theme-definers header#navigation #mainNav ul li .icon .fas,
.theme-definers header#navigation #mainNav ul li .icon .far,
.theme-definers header#navigation #mainNav ul li .icon .fal {
  color: #fff;
}

header#navigation #mainNav ul li .text {
  font-size: 14px;
  font-size: 0.875rem;
  padding-right: 10px;
  font-weight: 300;
}

header#navigation #mainNav ul li .unreadNumber {
  display: none;
  font-size: 14px;
  font-size: 0.875rem;
}

.theme-iss header#navigation #mainNav ul li.active .icon .fas,
.theme-iss header#navigation #mainNav ul li.active .icon .far,
.theme-iss header#navigation #mainNav ul li.active .icon .fal {
  color: #fff;
}

.theme-ar header#navigation #mainNav ul li.active .icon .fas,
.theme-ar header#navigation #mainNav ul li.active .icon .far,
.theme-ar header#navigation #mainNav ul li.active .icon .fal {
  color: #FFCE00;
}

.theme-definers header#navigation #mainNav ul li.active .icon .fas,
.theme-definers header#navigation #mainNav ul li.active .icon .far,
.theme-definers header#navigation #mainNav ul li.active .icon .fal {
  color: #87E1D1;
}

header#navigation #mainNav ul li.active .text {
  font-weight: 700;
}

.theme-iss header#navigation #mainNav ul li.active .text {
  color: #fff;
}

.theme-ar header#navigation #mainNav ul li.active .text {
  color: #FFCE00;
}

.theme-definers header#navigation #mainNav ul li.active .text {
  color: #87E1D1;
}

.theme-iss header#navigation #mainNav ul li.active .unreadNumber {
  color: #fff;
}

.theme-ar header#navigation #mainNav ul li.active .unreadNumber {
  color: #FFCE00;
}

.theme-definers header#navigation #mainNav ul li.active .unreadNumber {
  color: #87E1D1;
}

header#navigation #mainNav ul li ul {
  position: relative;
  left: -20px;
  width: calc(100% + 40px);
}

.theme-iss header#navigation #mainNav ul li ul {
  background: #3F6C8B;
}

.theme-ar header#navigation #mainNav ul li ul {
  background: #46474A;
}

.theme-definers header#navigation #mainNav ul li ul {
  background: #303E57;
}

header#navigation #bottomNav {
  width: calc(100% - 40px);
  height: 65px;
  min-height: 65px;
  max-height: 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0px 20px 0px;
  margin: 0 20px 0 20px;
  border-top: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-iss header#navigation #bottomNav {
  border-color: rgba(255, 255, 255, 0.6);
}

.theme-ar header#navigation #bottomNav {
  border-color: #bbbbbd;
}

.theme-definers header#navigation #bottomNav {
  border-color: #fff;
}

header#navigation #bottomNav ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-iss header#navigation #bottomNav ul li a {
  color: rgba(255, 255, 255, 0.6);
}

.theme-ar header#navigation #bottomNav ul li a {
  color: #bbbbbd;
}

.theme-definers header#navigation #bottomNav ul li a {
  color: #fff;
}

header#navigation #bottomNav ul li .fas,
header#navigation #bottomNav ul li .far,
header#navigation #bottomNav ul li .fal {
  font-size: 25px;
}

.theme-iss header#navigation #bottomNav ul li.active a {
  color: white;
}

.theme-ar header#navigation #bottomNav ul li.active a {
  color: #FFCE00;
}

.theme-definers header#navigation #bottomNav ul li.active a {
  color: #87E1D1;
}

section#middleColumn {
  width: 440px;
  min-width: 440px;
  max-width: 440px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.theme-iss section#middleColumn {
  background: #F5F6F6;
}

.theme-ar section#middleColumn {
  background: #F5F6F6;
}

.theme-definers section#middleColumn {
  background: #F5F6F6;
}

section#middleColumn .middleButton {
  position: absolute;
  z-index: 9999;
  right: 0;
  width: 0px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#middleColumn .middleButton .circle {
  position: relative;
  left: -18px;
}

section#middleColumn .middleButton .circle .far,
section#middleColumn .middleButton .circle .fal,
section#middleColumn .middleButton .circle .fas {
  left: -2px;
}

section#middleColumn .middleSurround {
  overflow: hidden;
  width: 100%;
}

section#middleColumn .stabilize {
  width: 440px;
}

section#middleColumn input {
  width: 100%;
  height: 35px;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  border-radius: 3px;
}

.theme-iss section#middleColumn input {
  border-color: #55565A;
}

.theme-ar section#middleColumn input {
  border-color: #55565A;
}

.theme-definers section#middleColumn input {
  border-color: #55565A;
}

section#middleColumn #search {
  width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid;
  padding: 20px 20px 0 20px;
}

.theme-iss section#middleColumn #search {
  border-color: #55565A;
}

.theme-ar section#middleColumn #search {
  border-color: #55565A;
}

.theme-definers section#middleColumn #search {
  border-color: #55565A;
}

.theme-iss section#middleColumn #search .top .btn.search {
  background: #487CA0;
}

.theme-ar section#middleColumn #search .top .btn.search {
  background: #55565A;
}

.theme-definers section#middleColumn #search .top .btn.search {
  background: #55565A;
}

section#middleColumn #search .top,
section#middleColumn #search .bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#middleColumn #search .top {
  margin-bottom: 15px;
}

section#middleColumn #search .bottom span {
  font-size: 8px;
  font-size: 0.5rem;
  line-height: 13px;
  line-height: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
}

section#middleColumn #search .bottom .fal,
section#middleColumn #search .bottom .far,
section#middleColumn #search .bottom .fas {
  font-size: 13px;
  padding-right: 10px;
}

.theme-iss section#middleColumn #search .bottom .fal,
.theme-iss section#middleColumn #search .bottom .far,
.theme-iss section#middleColumn #search .bottom .fas {
  color: #55565A;
}

.theme-ar section#middleColumn #search .bottom .fal,
.theme-ar section#middleColumn #search .bottom .far,
.theme-ar section#middleColumn #search .bottom .fas {
  color: #55565A;
}

.theme-definers section#middleColumn #search .bottom .fal,
.theme-definers section#middleColumn #search .bottom .far,
.theme-definers section#middleColumn #search .bottom .fas {
  color: #55565A;
}

section#middleColumn #search .bottom .left {
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#middleColumn #search .bottom .right {
  max-width: 65%;
}

.theme-iss section#middleColumn #search .bottom .right {
  color: #C91F00;
}

.theme-ar section#middleColumn #search .bottom .right {
  color: #C91F00;
}

.theme-definers section#middleColumn #search .bottom .right {
  color: #C91F00;
}

.theme-iss section#middleColumn #search .bottom .right .fal,
.theme-iss section#middleColumn #search .bottom .right .far,
.theme-iss section#middleColumn #search .bottom .right .fas {
  color: #C91F00;
}

.theme-ar section#middleColumn #search .bottom .right .fal,
.theme-ar section#middleColumn #search .bottom .right .far,
.theme-ar section#middleColumn #search .bottom .right .fas {
  color: #C91F00;
}

.theme-definers section#middleColumn #search .bottom .right .fal,
.theme-definers section#middleColumn #search .bottom .right .far,
.theme-definers section#middleColumn #search .bottom .right .fas {
  color: #C91F00;
}

section#middleColumn #search input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

section#middleColumn #search .btn {
  margin-right: 10px;
}

section#middleColumn #search .btn:last-child {
  margin-right: 0;
}

section#middleColumn #search .search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

section#middleColumn #advancedSearch {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 999;
  width: 100%;
  height: calc(100% - 100px);
}

.theme-iss section#middleColumn #advancedSearch {
  background: #DEDEDE;
}

.theme-ar section#middleColumn #advancedSearch {
  background: #DEDEDE;
}

.theme-definers section#middleColumn #advancedSearch {
  background: #DEDEDE;
}

section#middleColumn #advancedSearch .scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.theme-iss section#middleColumn #advancedSearch .scroll {
  background: #DEDEDE;
}

.theme-ar section#middleColumn #advancedSearch .scroll {
  background: #DEDEDE;
}

.theme-definers section#middleColumn #advancedSearch .scroll {
  background: #DEDEDE;
}

section#middleColumn #entries {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

section#middleColumn #entries .entryGroup .entryGroupTitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid;
}

.theme-iss section#middleColumn #entries .entryGroup .entryGroupTitle {
  background-color: #BD3F40;
  border-color: #55565A;
}

.theme-ar section#middleColumn #entries .entryGroup .entryGroupTitle {
  background-color: #FFCE00;
  border-color: #55565A;
}

.theme-definers section#middleColumn #entries .entryGroup .entryGroupTitle {
  background-color: #87E1D1;
  border-color: #55565A;
}

section#middleColumn #entries .entryGroup .entryGroupTitle span {
  text-transform: uppercase;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 700;
}

.theme-iss section#middleColumn #entries .entryGroup .entryGroupTitle span {
  color: #fff;
}

.theme-ar section#middleColumn #entries .entryGroup .entryGroupTitle span {
  color: #55565A;
}

.theme-definers section#middleColumn #entries .entryGroup .entryGroupTitle span {
  color: #55565A;
}

section#middleColumn #entries .entryGroup:last-child .entry:last-child {
  border-bottom: 0;
}

section#middleColumn #entries .entry {
  border-bottom: 1px solid;
}

.theme-iss section#middleColumn #entries .entry {
  border-color: #55565A;
}

.theme-ar section#middleColumn #entries .entry {
  border-color: #55565A;
}

.theme-definers section#middleColumn #entries .entry {
  border-color: #55565A;
}

section#middleColumn #entries .entry .entryContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.theme-iss section#middleColumn #entries .entry .entryContent a {
  color: #55565A;
}

.theme-ar section#middleColumn #entries .entry .entryContent a {
  color: #55565A;
}

.theme-definers section#middleColumn #entries .entry .entryContent a {
  color: #55565A;
}

section#middleColumn #entries .entry .bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-iss section#middleColumn #entries .entry .bar {
  background: #D3DCE2;
}

.theme-ar section#middleColumn #entries .entry .bar {
  background: #DEDEDE;
}

.theme-definers section#middleColumn #entries .entry .bar {
  background: #DEDEDE;
}

section#middleColumn #entries .entry .bar .text {
  margin-right: auto;
  font-size: 10px;
  font-size: 0.625rem;
}

section#middleColumn #entries .entry .bar .buttons .button,
section#middleColumn #entries .entry .bar .buttons .btn,
section#middleColumn #entries .entry .bar .buttons .circle,
section#middleColumn #entries .entry .bar .buttons #search .bottom .left,
section#middleColumn #search .bottom #entries .entry .bar .buttons .left {
  margin-left: 5px;
}

section#middleColumn #entries .entry .bar .buttons .button .fas,
section#middleColumn #entries .entry .bar .buttons .btn .fas,
section#middleColumn #entries .entry .bar .buttons .circle .fas,
section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fas,
section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fas,
section#middleColumn #entries .entry .bar .buttons .button .fal,
section#middleColumn #entries .entry .bar .buttons .btn .fal,
section#middleColumn #entries .entry .bar .buttons .circle .fal,
section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fal,
section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fal,
section#middleColumn #entries .entry .bar .buttons .button .far,
section#middleColumn #entries .entry .bar .buttons .btn .far,
section#middleColumn #entries .entry .bar .buttons .circle .far,
section#middleColumn #entries .entry .bar .buttons #search .bottom .left .far,
section#middleColumn #search .bottom #entries .entry .bar .buttons .left .far {
  font-size: 13px;
}

.theme-iss section#middleColumn #entries .entry .bar .buttons .button .fas,
.theme-iss section#middleColumn #entries .entry .bar .buttons .btn .fas,
.theme-iss section#middleColumn #entries .entry .bar .buttons .circle .fas,
.theme-iss section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fas,
.theme-iss section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fas,
.theme-iss section#middleColumn #entries .entry .bar .buttons .button .fal,
.theme-iss section#middleColumn #entries .entry .bar .buttons .btn .fal,
.theme-iss section#middleColumn #entries .entry .bar .buttons .circle .fal,
.theme-iss section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fal,
.theme-iss section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fal,
.theme-iss section#middleColumn #entries .entry .bar .buttons .button .far,
.theme-iss section#middleColumn #entries .entry .bar .buttons .btn .far,
.theme-iss section#middleColumn #entries .entry .bar .buttons .circle .far,
.theme-iss section#middleColumn #entries .entry .bar .buttons #search .bottom .left .far,
.theme-iss section#middleColumn #search .bottom #entries .entry .bar .buttons .left .far {
  color: #55565A;
}

.theme-ar section#middleColumn #entries .entry .bar .buttons .button .fas,
.theme-ar section#middleColumn #entries .entry .bar .buttons .btn .fas,
.theme-ar section#middleColumn #entries .entry .bar .buttons .circle .fas,
.theme-ar section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fas,
.theme-ar section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fas,
.theme-ar section#middleColumn #entries .entry .bar .buttons .button .fal,
.theme-ar section#middleColumn #entries .entry .bar .buttons .btn .fal,
.theme-ar section#middleColumn #entries .entry .bar .buttons .circle .fal,
.theme-ar section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fal,
.theme-ar section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fal,
.theme-ar section#middleColumn #entries .entry .bar .buttons .button .far,
.theme-ar section#middleColumn #entries .entry .bar .buttons .btn .far,
.theme-ar section#middleColumn #entries .entry .bar .buttons .circle .far,
.theme-ar section#middleColumn #entries .entry .bar .buttons #search .bottom .left .far,
.theme-ar section#middleColumn #search .bottom #entries .entry .bar .buttons .left .far {
  color: #55565A;
}

.theme-definers section#middleColumn #entries .entry .bar .buttons .button .fas,
.theme-definers section#middleColumn #entries .entry .bar .buttons .btn .fas,
.theme-definers section#middleColumn #entries .entry .bar .buttons .circle .fas,
.theme-definers section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fas,
.theme-definers section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fas,
.theme-definers section#middleColumn #entries .entry .bar .buttons .button .fal,
.theme-definers section#middleColumn #entries .entry .bar .buttons .btn .fal,
.theme-definers section#middleColumn #entries .entry .bar .buttons .circle .fal,
.theme-definers section#middleColumn #entries .entry .bar .buttons #search .bottom .left .fal,
.theme-definers section#middleColumn #search .bottom #entries .entry .bar .buttons .left .fal,
.theme-definers section#middleColumn #entries .entry .bar .buttons .button .far,
.theme-definers section#middleColumn #entries .entry .bar .buttons .btn .far,
.theme-definers section#middleColumn #entries .entry .bar .buttons .circle .far,
.theme-definers section#middleColumn #entries .entry .bar .buttons #search .bottom .left .far,
.theme-definers section#middleColumn #search .bottom #entries .entry .bar .buttons .left .far {
  color: #55565A;
}

section#middleColumn #entries .entry .bar .buttons .button:first-child,
section#middleColumn #entries .entry .bar .buttons .btn:first-child,
section#middleColumn #entries .entry .bar .buttons .circle:first-child,
section#middleColumn #entries .entry .bar .buttons #search .bottom .left:first-child,
section#middleColumn #search .bottom #entries .entry .bar .buttons .left:first-child {
  margin-left: 0;
}

section#middleColumn.closed {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

section#middleColumn.closed .circle .fal,
section#middleColumn.closed .circle .far,
section#middleColumn.closed .circle .fas {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .2s ease;
  transition: .2s ease;
  left: 2px;
}

section#rightColumn {
  width: 100%;
  background: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

section#rightColumn #topBar {
  width: 100%;
  height: 75px;
  min-height: 75px;
  max-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid;
}

.theme-iss section#rightColumn #topBar {
  background: #BD3F40;
  border-color: #55565A;
}

.theme-ar section#rightColumn #topBar {
  background: #DEDEDE;
  border-color: #55565A;
}

.theme-definers section#rightColumn #topBar {
  background: #DEDEDE;
  border-color: #55565A;
}

section#rightColumn #topBar .left {
  margin-right: auto;
}

section#rightColumn #topBar .left #title {
  margin-right: 20px;
  font-size: 15px;
  font-size: 0.9375rem;
}

.theme-iss section#rightColumn #topBar .left #title {
  color: #fff;
}

.theme-ar section#rightColumn #topBar .left #title {
  color: #55565A;
}

.theme-definers section#rightColumn #topBar .left #title {
  color: #55565A;
}

section#rightColumn #topBar .left .button,
section#rightColumn #topBar .left .btn,
section#rightColumn #topBar .left .circle,
section#rightColumn #topBar .left section#middleColumn #search .bottom .left,
section#middleColumn #search .bottom section#rightColumn #topBar .left .left {
  margin-right: 15px;
}

section#rightColumn #topBar .right .button,
section#rightColumn #topBar .right .btn,
section#rightColumn #topBar .right .circle,
section#rightColumn #topBar .right section#middleColumn #search .bottom .left,
section#middleColumn #search .bottom section#rightColumn #topBar .right .left {
  margin-left: 15px;
}

section#rightColumn #topBar .button .fal,
section#rightColumn #topBar .btn .fal,
section#rightColumn #topBar .circle .fal,
section#rightColumn #topBar section#middleColumn #search .bottom .left .fal,
section#middleColumn #search .bottom section#rightColumn #topBar .left .fal,
section#rightColumn #topBar .button .far,
section#rightColumn #topBar .btn .far,
section#rightColumn #topBar .circle .far,
section#rightColumn #topBar section#middleColumn #search .bottom .left .far,
section#middleColumn #search .bottom section#rightColumn #topBar .left .far,
section#rightColumn #topBar .button .fas,
section#rightColumn #topBar .btn .fas,
section#rightColumn #topBar .circle .fas,
section#rightColumn #topBar section#middleColumn #search .bottom .left .fas,
section#middleColumn #search .bottom section#rightColumn #topBar .left .fas {
  font-size: 20px;
}

.theme-iss section#rightColumn #topBar .button .fal,
.theme-iss section#rightColumn #topBar .btn .fal,
.theme-iss section#rightColumn #topBar .circle .fal,
.theme-iss section#rightColumn #topBar section#middleColumn #search .bottom .left .fal,
section#middleColumn #search .bottom .theme-iss section#rightColumn #topBar .left .fal,
.theme-iss section#rightColumn #topBar .button .far,
.theme-iss section#rightColumn #topBar .btn .far,
.theme-iss section#rightColumn #topBar .circle .far,
.theme-iss section#rightColumn #topBar section#middleColumn #search .bottom .left .far,
section#middleColumn #search .bottom .theme-iss section#rightColumn #topBar .left .far,
.theme-iss section#rightColumn #topBar .button .fas,
.theme-iss section#rightColumn #topBar .btn .fas,
.theme-iss section#rightColumn #topBar .circle .fas,
.theme-iss section#rightColumn #topBar section#middleColumn #search .bottom .left .fas,
section#middleColumn #search .bottom .theme-iss section#rightColumn #topBar .left .fas {
  color: #fff;
}

.theme-ar section#rightColumn #topBar .button .fal,
.theme-ar section#rightColumn #topBar .btn .fal,
.theme-ar section#rightColumn #topBar .circle .fal,
.theme-ar section#rightColumn #topBar section#middleColumn #search .bottom .left .fal,
section#middleColumn #search .bottom .theme-ar section#rightColumn #topBar .left .fal,
.theme-ar section#rightColumn #topBar .button .far,
.theme-ar section#rightColumn #topBar .btn .far,
.theme-ar section#rightColumn #topBar .circle .far,
.theme-ar section#rightColumn #topBar section#middleColumn #search .bottom .left .far,
section#middleColumn #search .bottom .theme-ar section#rightColumn #topBar .left .far,
.theme-ar section#rightColumn #topBar .button .fas,
.theme-ar section#rightColumn #topBar .btn .fas,
.theme-ar section#rightColumn #topBar .circle .fas,
.theme-ar section#rightColumn #topBar section#middleColumn #search .bottom .left .fas,
section#middleColumn #search .bottom .theme-ar section#rightColumn #topBar .left .fas {
  color: #55565A;
}

.theme-definers section#rightColumn #topBar .button .fal,
.theme-definers section#rightColumn #topBar .btn .fal,
.theme-definers section#rightColumn #topBar .circle .fal,
.theme-definers section#rightColumn #topBar section#middleColumn #search .bottom .left .fal,
section#middleColumn #search .bottom .theme-definers section#rightColumn #topBar .left .fal,
.theme-definers section#rightColumn #topBar .button .far,
.theme-definers section#rightColumn #topBar .btn .far,
.theme-definers section#rightColumn #topBar .circle .far,
.theme-definers section#rightColumn #topBar section#middleColumn #search .bottom .left .far,
section#middleColumn #search .bottom .theme-definers section#rightColumn #topBar .left .far,
.theme-definers section#rightColumn #topBar .button .fas,
.theme-definers section#rightColumn #topBar .btn .fas,
.theme-definers section#rightColumn #topBar .circle .fas,
.theme-definers section#rightColumn #topBar section#middleColumn #search .bottom .left .fas,
section#middleColumn #search .bottom .theme-definers section#rightColumn #topBar .left .fas {
  color: #55565A;
}

section#rightColumn #mainContent {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  position: relative;
}

section#rightColumn #mainContent #content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  padding: 20px;
}

section#rightColumn #mainContent .circle {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

section#rightColumn #mainContent .circle .fal,
section#rightColumn #mainContent .circle .far,
section#rightColumn #mainContent .circle .fas {
  top: -2px;
}

/* Mobile Styles */

@media screen and (max-width: 730px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  /* Turns "Stacked" Text Into One Line */

  .linebreak br {
    content: ' ';
  }

  .linebreak br:after {
    content: ' ';
  }

  header#navigation,
  section#middleColumn,
  section#rightColumn,
  section#middleColumn.closed {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  section#middleColumn .stabilize {
    width: 100%;
  }

  section#middleColumn .middleButton,
  .theme-iss section#rightColumn #topBar .left #title {
    display: none;
  }
}

