// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

/* Convert px to rem */
@function calculateRem($size) {
  $remSize: $size / 16px; @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size; font-size: calculateRem($size);
}
@mixin line-height($size) {
  line-height: $size; line-height: calculateRem($size);
}

// Default Variables
$mainFont: "Montserrat", sans-serif; /* main font family */
$selection: rgba(0,0,0,.6); /* rgba color with opacity */
$screenWidth: 1280px; /* main width of wrapper */
$inputColor: #000; /* sets text color for input fields */
