
// Imports
@import 'reset';
@import "variables";
@import "themes";

/* Default Styles */
html {height:100%;
	::-webkit-scrollbar {display: none;} 
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
body {height:100%; font-family:$mainFont;}
.bodyWrap {min-height:100%; position:relative;}
::selection {
	@include themify($themes) {
		background:themed('selectionColor');
	}
}
.wrap {width:$screenWidth; margin:auto;}
.clear {clear:both;}
.fullWidth {width:100%; min-width:$screenWidth;}

/* Text Align */
.textLeft {text-align:left;}
.textCenter {text-align:center;}
.textRight {text-align:right;}
.textJust {text-align:justify;}

/* Display */
.hide, .mobile {display:none;}
.block, .desktop {display:block;}
.inline {display:inline;}
.inlineBlock {display:inline-block;}

/* Font Weight */
.bold,strong {font-weight:bold;}
.regular {font-weight:normal;}
.italic,em {font-style:italic;}

.preventCopy {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Responsive Iframe, Object, Embed */
.videoContainer {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;
	iframe, object, embed {position:absolute; top:0; left:0; width:100%; height:100%;}
}

.flex {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
.flexColumn {flex-grow:1; flex-shrink:1; flex-basis:auto;}

/* Typography */
a  {text-decoration:none;}
.view {@include font-size(16px); @include line-height(22px);
	@include themify($themes){
		color:themed('textColor');
	}
	a {
		@include themify($themes) {
			color:themed('linkColor');
		}
	}
	p.meta {@include line-height(30px); margin-bottom:25px;}
	h1 {@include font-size(24px); @include line-height(30px); font-weight:700; margin-bottom:10px;} 
	h2 {@include font-size(22px); @include line-height(28px); font-weight:700; margin-bottom:25px;}
	h3 {@include font-size(18px); @include line-height(24px); font-weight:700; margin-bottom:20px;}
	h4 {@include font-size(16px); @include line-height(22px); font-weight:700; margin-bottom:15px;}
	p  {@include font-size(16px); @include line-height(22px); margin-bottom:25px;}
	ul {
		li {}
	}
	ol {list-style:decimal; padding-left:25px;
		li {margin-bottom:5px; padding-left:5px;
			&:last-child {margin-bottom:0;}
		}
	}
}
.entry {
	@include themify($themes){
		color:themed('textColor');
	}
	h2 {@include font-size(18px); @include line-height(24px); @extend .button; margin-bottom:10px;}
	p {@include font-size(14px); @include line-height(18px);}
}
.entry.active {
	@include themify($themes) {
		background:themed('entryActiveBackground');
	}
	h2, p {font-weight:700;}
}

.transition {transition:.2s ease;}
.button {cursor:pointer;}
.btn {border-radius:3px; @extend .button; height:35px; min-width:35px; box-sizing:border-box; text-align:center;
	@include themify($themes) {
		background:themed('buttonColors');
	}
	.far,.fal,.fas {color:#fff; line-height:35px; font-size:16px;}
}

.circle {@extend .button; width:36px; min-width:36px; max-width:36px; height:36px; min-height:36px; max-height:36px; border-radius:36px; text-align:center; box-shadow:0px 3px 6px rgba(0, 0, 0, 0.4);
	@include themify($themes) {
		background:themed('uiButtonColor');
	}
	.far,.fal,.fas {position:relative; font-size:30px; line-height:36px;
		@include themify($themes) {
			color:themed('uiIconColor');
		}
	}
}

.yellow { border:1px solid;
	@include themify($themes) {
		background:themed('middleColumnSearchBackground');
		border-color:themed('dark');
	}
	.far,.fal,.fas {
		@include themify($themes) {
			color:themed('middleColumnSearchIconColor');
		}
	}
}

.noEntries {margin:20px 0; @extend .textCenter;}

/* Input Styles */
form {box-sizing:border-box;}
input {@extend form;}
input::-webkit-input-placeholder {color:$inputColor;}
input:-moz-placeholder {color:$inputColor; opacity:1;}
input::-moz-placeholder {color:$inputColor; opacity:1;}
input:-ms-input-placeholder {color:$inputColor;}
input:placeholder-shown {color:$inputColor;}


//Left Column Styles
header#navigation {width:250px; min-width:250px; max-width:250px; @extend .flexColumn; @extend .flex; flex-wrap:wrap; flex-flow:column; box-sizing:border-box; position:relative; z-index:9999;
	@include themify($themes) {
		background:themed('navigationBackground');
	}
	#logo {width:100%; flex: 0 0 100%; max-height:100px; text-align:left; margin-bottom:30px; box-sizing:border-box; padding:20px 20px 0 20px;
		img {width:auto; max-width:100%; height:100%;}
	}
	#mainNav {width:100%; margin-top:0; overflow-y:scroll; margin-bottom:auto; max-height:calc(100vh - 230px);
		ul {box-sizing:border-box; padding:0 20px;
			li {position:relative; @extend .button; 
				a, span {@extend .flex; color:#fff; align-items:center; height:50px;}
				.icon {padding-right:10px;
					.fas, .far, .fal {font-size:6px; line-height:50px;
						@include themify($themes) {
							color:themed('navigationInactiveIconColor');
						}
					}
				}
				.text {@include font-size(14px); padding-right:10px; font-weight:300; margin-right:auto;}
				.unreadNumber {@include font-size(14px); padding:0 10px; height:20px; border-radius:3px; background:#fff; color:#183957;}
			}
			li.active {
				.icon {
					.fas, .far, .fal {
						@include themify($themes) {
							color:themed('navigationActiveColor');
						}
					}
				}
				.text {font-weight:700;
					@include themify($themes) {
						color:themed('navigationActiveColor');
					}
				}
				.unreadNumber {font-weight:700;
					@include themify($themes) {
						color:#183957;
					}
				}
				&:after {content:''; position:absolute; top:0; right:-20px; width:5px; height:100%;
					@include themify($themes) {
						background:themed('navigationActiveColor');
					}
				}
			}
			li {
				ul {position:relative; left:-20px; width:calc(100% + 40px); display:none;
					@include themify($themes) {
						background:themed('navigationUl');
					}
					li {
						&:hover {
							.icon {
								.fas, .far, .fal {
									@include themify($themes) {
										color:#fff;
									}
								}
							}
						}
					}	
				}
			}
			
		}
	}
	#bottomNav {width:calc(100% - 40px); height:65px; min-height:65px; max-height:65px; box-sizing:border-box; padding:0 0px 20px 0px; margin:0 20px 0 20px; border-top:1px solid; @extend .flex; align-items:center;
		@include themify($themes) {
			border-color:themed('bottomNavIconColor');
		}
		ul {@extend .flex; flex: 0 0 100%; margin-top:20px; justify-content:space-between;
			li {
				a, span {@extend .button;
					@include themify($themes) {
						color:themed('bottomNavIconColor');
					}
				}
				.fas, .far, .fal {font-size:25px;}
			}
			li.active {
				a, span {
					@include themify($themes) {
						color:themed('bottomNavIconActiveColor');
					}
				}
			}
		}
	}
}

// Middle Column Styles
section#middleColumn {width:440px; min-width:440px; max-width:440px; @extend .transition; @extend .flexColumn; @extend .flex; @extend .transition; flex-wrap:wrap; position:relative; z-index:99; -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4); box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
	@include themify($themes) {
		background:themed('light');
	}
	.middleButton {position:absolute; z-index:9999; right:0; width:0px; height:100%; @extend .flex; align-items:center;
		.circle {position:relative; left:-18px;
			.far, .fal, .fas {left:-2px;}
		}
	}
	.middleSurround {overflow:hidden; width:100%;}
	.stabilize {width:440px;}
	input {width:100%; height:35px; border:1px solid; box-sizing:border-box; padding:0 10px; border-radius:3px;
		@include themify($themes) {
			border-color:themed('dark');
		}
	}
	#search {width:100%; height:100px; min-height:100px; max-height:100px; box-sizing:border-box; border-bottom:1px solid; padding:20px 20px 0 20px;
		@include themify($themes) {
			border-color:themed('dark');
		}
		.top {
			.btn.search {
				@include themify($themes) {
					background:themed('middleColumnSearchBackground');
				}
			}
		}
		.top, .bottom {@extend .flex; align-items:center;}
		.top {margin-bottom:15px;}	
		.bottom {
			span {@include font-size(8px); @include line-height(13px); font-weight:500; text-transform:uppercase;}
			.fal, .far, .fas {font-size:13px; padding-right:10px;
				@include themify($themes) {
					color:themed('dark');
				}
			}
			.left {margin-right:auto; @extend .flex; @extend .button; align-items:center;}
			.right {max-width:65%;
				@include themify($themes) {
					color:themed('redColor');
				}
				.fal, .far, .fas {
					@include themify($themes) {
						color:themed('redColor');
					}
				}
			}
		}
		input {border-top-right-radius:0; border-bottom-right-radius:0;}
		.btn {margin-right:10px;}
		.btn:last-child {margin-right:0;}
		.search {border-top-left-radius:0; border-bottom-left-radius:0;}
	}
	#advancedSearch {display:none; position:absolute; top:100px; z-index:999; width:100%; height:calc(100% - 100px);
		@include themify($themes) {
			background:themed('medium');
		}
		.scroll {position:absolute; top:0; left:0; width:100%; height:100%; overflow-y:scroll;
			@include themify($themes) {
				background:themed('medium');
			}
		}
	}

	#entries {@extend .flex; flex-wrap:wrap; flex-flow:column; height:calc(100vh - 100px); overflow-y:scroll; flex: 0 0 100%;
		.entryGroup {
			.entryGroupTitle {@extend .flex; align-items:center; height:30px; position:sticky; top:0; box-sizing:border-box; padding:0 20px; border-bottom:1px solid;
				@include themify($themes) {
					background-color:themed('entryGroupTitleBackground');
					border-color:themed('dark');
				}
				span {text-transform:uppercase; @include font-size(10px); font-weight:700;
					@include themify($themes) {
						color:themed('entryGroupTitleTextColor');
					}
				}
			}
			&:last-child {
				.entry:last-child {border-bottom:0;}
			}
		}
		.entry {border-bottom:1px solid;
			@include themify($themes) {
				border-color:themed('dark');
			}
			.entryContent {box-sizing:border-box; padding:20px;
				cursor: pointer;
				a {
					@include themify($themes) {
						color:themed('dark');
					}
				}
			}
			.bar {box-sizing:border-box; padding:8px 20px; @extend .flex; align-items:center;
				@include themify($themes) {
					background:themed('entryActiveBackground');
				}
				.text {margin-right:auto; @include font-size(10px);}
				.buttons {
					.button {margin-left:5px;
						.fas, .fal, .far {font-size:13px;
							@include themify($themes) {
								color:themed('dark');
							}
						}
					}
					.button:first-child {margin-left:0;}
				}
			}
		}
	}
}
section#middleColumn.closed {width:20px; min-width:20px; max-width:20px; @extend .transition;
	.circle {
		.fal, .far, .fas {transform:rotate(180deg); transition:.2s ease; left:2px;}
	}
}

// Right Column Styles
section#rightColumn {width:100%; background:#fff; @extend .flexColumn; @extend .flex; flex-wrap:wrap; flex-flow:column;
	#topBar {width:100%; height:75px; min-height:75px; max-height:75px; @extend .flex; align-items:center; box-sizing:border-box; padding:0 20px; border-bottom:1px solid; position:relative;
		@include themify($themes) {
			background:themed('rightColumnTopBarBackground');
			border-color:themed('dark');
		}
		.left {margin-right:auto; min-width:40%;
			#title {margin-right:20px; @include font-size(15px);
				@include themify($themes) {
					color:themed('rightColumnTopBarIconColor');
				}
			}
			.button {margin-right:15px;}
		}
		.right {min-width:60%; overflow-y:scroll; text-align:right;
			.button {margin-left:15px;}
		}
		.button	{
			.fal, .far, .fas {font-size:20px;
				@include themify($themes) {
					color:themed('rightColumnTopBarIconColor');
				}
			} 
		}
		#scrollBar {position:absolute; bottom:-6px; left:0; width:100%; height:5px; z-index:9; overflow:hidden;
			#color {position:absolute; top:0; left:0; height:5px;
				@include themify($themes) {
					background:themed('scrollBarColor');
				}
			}
		}
	}
	#mainContent {width:100%; height:auto; flex:1; background:#fff; position:relative; overflow:hidden;
		#content {width:100%; height:100%; position:absolute; top:0; left:0; box-sizing:border-box; overflow-y:scroll; padding:25px 20px 20px 20px;
			#contentWrapper {}
			.inputContainer {@extend .flex; flex-wrap:wrap; margin-bottom:20px;
				label {flex: 0 0 100%; padding-bottom:10px; text-transform:uppercase; @include font-size(16px); @include line-height(19px); font-weight:400;
					span {text-transform:none;}
					@include themify($themes) {
						color:themed('dark');
					}
				} 
				input, textarea {flex: 0 0 100%; font-family:$mainFont; @include font-size(16px); @include line-height(35px); font-weight:300; border:1px solid; box-sizing:border-box; padding:0 10px; border-radius:3px;
					@include themify($themes) {
						border-color:themed('dark');
						background:themed('light');
					}
				}
				textarea {min-height:200px; @include line-height(25px); padding:10px;}
			}
			.columns { @extend .flex; flex-wrap:wrap; margin-bottom:25px;
				.inputContainer	{min-width:33.33%; max-width:33.33%; align-items:center; flex-wrap:none; overflow:hidden; text-overflow:ellipsis;
					label, input {flex:none;}
					label {padding-bottom:0; min-width:100%; @extend .flex; align-items:center; overflow:hidden; text-overflow:ellipsis;
						span {max-width:calc(100% - 40px); width:100%; overflow:hidden; text-overflow:ellipsis;}
					}
					input {margin-right:20px;} 
				}
				
			}
			.formError {color:red; font-style:italic;}
		}
		#notifier {min-width:300px; max-width:300px; color:#fff; @include font-size(16px); @include line-height(18px); box-sizing:border-box; padding:20px; position:absolute; bottom:-100%; left:-999px; right:-999px; margin:auto; transition:.2s ease; box-shadow:0px 3px 5px rgba(0,0,0,.3);
			@include themify($themes){
				background:themed('navigationBackground');
			}
			&.active {bottom:0; transition:.2s ease;}
		}
		.circle {position:absolute; bottom:20px; right:20px; opacity:.5;
			.fal, .far, .fas {top:-2px;}
		}
	}
}

.userLoginRegister {width:100%; display:flex; align-items:center; justify-content:center;
	@include themify($themes){
		background:themed('navigationBackground');
	}
	.interface {min-width:350px; max-width:350px; text-align:center; border-radius:5px; background:#fff; box-shadow:0px 3px 5px rgba(#000, .4); box-sizing:border-box; padding:50px;
		#logo {margin-bottom:30px;}
		h1 {margin-bottom:30px; @include font-size(30px); font-weight:700;
			@include themify($themes) {
				color:themed('textColor');
			}
		}	
		form {
			input[type="text"], input[type="email"], input[type="password"] {width:100%; height:35px; box-sizing:border-box; border:1px solid #000; margin-bottom:10px; padding:0 10px; border-radius:3px;}
			button {width:100%; border:0; font-family:$mainFont; font-weight:500; color:#fff; @include font-size(14px); margin-bottom:20px; text-transform:uppercase;
				&:hover {
					@include themify($themes) {
						background:themed('navigationBackground');
					}
				}
			}
			a {
				@include themify($themes) {
					color:themed('linkColor');
				}
			}
			.submit {margin-top:30px; @extend .flex; flex-wrap:wrap;
				label {padding-bottom:30px; display:inline-block; flex:0 0 100%;}
				button {max-width:150px; flex:0 0 100%; margin:auto;}
			}
		}
		&.large {max-width:960px;
			#logo, form .contain {max-width:350px; margin-left:auto; margin-right:auto;}
			.terms {background:#e7e7e7; width:100%; border-radius:3px; max-height:400px; overflow:scroll; box-sizing:border-box; padding:20px; margin-top:30px; }
		}
	}
}


/* Mobile Styles */
@media screen and (max-width:730px) {
	.desktop {display:none;}
	.mobile {display:block;}

	/* Turns "Stacked" Text Into One Line */
	.linebreak br {content:' ';}
	.linebreak br:after {content:' ';}

	header#navigation, section#middleColumn, section#rightColumn, section#middleColumn.closed {width:100%; max-width:100%; min-width:100%; height:100%; flex: 0 0 100%; position:absolute; top:0; left:0; }

	section#middleColumn .stabilize {width:100%;}
	section#middleColumn .middleButton, .theme-iss section#rightColumn #topBar .left #title {display:none;}

	.userLoginRegister .interface.large {width:90%; padding:20px;}

}
